/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  
}

body{
  background: #EEECEE;
  color: #24509D;
}

.flex-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.flex-container .flex-item-1{
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.flex-container .flex-item-2{
  height: 80vh;
  display: flex;
  align-items: row;
  /* align-items: center;
  justify-content: center; */
  width: 100%;

}

.flex-container .flex-item-2 .alpaca-container,
.flex-container .flex-item-2 .styling-container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  flex-direction: column;
}


.flex-container .flex-item-2 .styling-container .styling-item-1,
.flex-container .flex-item-2 .styling-container .styling-item-2{
  height: 50%;
  width: 100%;
  display: flex;
  /* align-items: center;
  justify-content: center; */
}

app-accessories,
app-sub-accessories{
  width: 100%;
}

.heading{
  min-width: 100%;
  margin-top: 30px;
}

h3{
    text-align: center;
    font-size: 20px;
}

.container{
  width: 100%;
  height: 200px;
  padding: 40px 60px;
  display: flex;
  flex-wrap:wrap;
}

.btn{
  padding: 15px 25px;
  border-radius: 25px;
  height: 50px;
}

.btn-secondary{
  border: 1px solid #7DB744;
  color: #7DB744;
  display: block;
  margin: 5px;
}

.btn-secondary:hover{
  font-weight: 700;
  border: 2px solid #7DB744;
  cursor: pointer;
}

.btn-primary{
  border: 1px solid #2451AE;
  color: #2451AE;
  display: block;
  margin: 5px;
}

.btn-primary:hover{
  font-weight: 700;
  border: 2px solid #2451AE;
  cursor: pointer;
}

.btn-current{
  font-weight: 700;
  color: #fff;
  background: #2451AE;
}

